*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

#root {
  display: flex;
  justify-content: center;
}

body {
  background-color: lightgray;
}