#board {
    margin: 5px;
    border-right: rgb(128, 128, 128) 3px solid;
    border-bottom: rgb(128, 128, 128) 3px solid;
    border-top: rgb(255, 255, 255) 3px solid;
    border-left: rgb(255, 255, 255) 3px solid;
}

.cell {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    vertical-align: top;
    background-color: rgb(192, 192, 192);
    border-right: rgb(128, 128, 128) 3px solid;
    border-bottom: rgb(128, 128, 128) 3px solid;
    border-top: rgb(255, 255, 255) 3px solid;
    border-left: rgb(255, 255, 255) 3px solid;
}

.cell.red {
    color: red;
}

.cell.green {
    color: green;
}

.cell.blue {
    color: blue;
}

.cell.open {
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(192, 192, 192);
}