#board {
    margin: 5px;
}

.cell {
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: top;
    background-color: rgb(192, 192, 192);
    border-right: rgb(128, 128, 128) 3px solid;
    border-bottom: rgb(128, 128, 128) 3px solid;
    border-top: rgb(255, 255, 255) 3px solid;
}